#main-header {
  width: 100%;
  height: 500px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7453f;
  background-image: url('../images/escheresque.png');
}

#name-wrapper {
  margin-top: -30px;
}

@media all and (min-width: 1024px) {
  #main-header {
    flex-basis: 40%;
    padding-top: 60px;
    height: 400px;
    margin-left: 50px;
    margin-right: 120px;
    margin-top: 240px;
  }
  #name-wrapper {
    margin-top: -45px;
  }
}