nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  z-index: 10;
}

#nav-text-logo {
  font-family: 'Bungee', cursive;
  font-size: 32px;
  line-height: 120px; /* should match nav height */
}

#new-tweet-prompt {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 180px;
}

#new-tweet-prompt p {
  margin: 0px;
  height: auto;
  position: relative;
}

#new-tweet-prompt i {
  top: 75px;
  right: 36px;
  width: inherit;
  height: auto;
  text-align: center;
  position: absolute;
  animation: bounce .5s linear 0s infinite alternate;
}

@keyframes bounce {
  0% {
    top: 75px;
  }
  100% {
    top: 78px;
  }
}