.tweet-container {
  margin-bottom: 15px;
}

#tweet-text {
  width: 100%;
  height: 25px;
  background: none;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

.new-tweet h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-bottom: 15px;
}

.new-tweet label {
  font-weight: 600;
}

.new-tweet textarea {
  font-size: 16px;
}

.new-tweet button {
  border-style: none;
  background-color: #4056A1;
  color: white;
  padding: 5px;
}

.new-tweet output {
  float: right;
}

.new-tweet button, output {
  font-family: 'Bungee', cursive;
}

.red-text {
  color: #e7453f;
}

.tweet-container article {
  border: 3px solid black;
  margin-top: 50px;
}

#tweet-body {
  border-bottom: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.tweet-container header {
  margin-left: 15px;
}

.tweet-container.fa-solid {
  display: inline-block;
}

.tweet-container h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  margin-left: 5px;
}

.tweet-container h2 {
  margin-left: 15px;
  font-size: 25px;
}

.tweet-container h3 {
  margin-left: 25px;
  font-size: 15px;
  display: inline-block;
}

.tweet-container footer span {
  float: right;
  line-height: 50px;
  margin-right: 25px;
  color: #4056A1;
}

.tweet-container article:hover {
  box-shadow: 5px 5px #4057a144;
}

.tweet-container footer span i.fa-solid:hover {
  color: #e7453f;
}