.new-tweet {
  display: none;
  margin-bottom: 50px;
}

.tweet-container {
  margin-bottom: 15px;
}

#tweet-text {
  width: 100%;
  height: 60px;
  background: none;
  border: none;
  resize: none;
  outline: none;
  border-bottom: 3px solid black;
}

.new-tweet h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-bottom: 15px;
}

#tweet-form {
  height: 80px;
}

.new-tweet textarea {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-top: -30px;
}

.new-tweet button {
  border-style: none;
  border-radius: 5px;
  background-color: #4056A1;
  color: white;
  padding: 5px;
}

.new-tweet output {
  float: right;
}

.new-tweet button, output {
  font-family: 'Bungee', cursive;
  margin-top: 20px;
}

.red-text {
  color: #e7453f;
}

.tweet-container article {
  border: 3px solid black;
  margin-bottom: 50px;
}

#tweet-body {
  border-bottom: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

#tweet-body h2 {
  word-break: break-all;
}

.tweet-container header {
  margin-left: 15px;
  position: relative;
}

.tweet-container.fa-solid {
  display: inline-block;
}

.tweet-container h1, h5 {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 0px;
  position: absolute;
  height: 65px;
  line-height: 65px;

}

.tweet-container h1 {
  font-size: 30px;
  font-weight: 300;
  left: 80px;
}

.tweet-container h5 {
  color: rgba(84, 81, 73, 0.5);
  font-size: 25px;
  right: 40px;
}

.tweet-container h3 {
  margin-left: 25px;
  font-size: 15px;
  display: inline-block;
}

.tweet-container footer span {
  float: right;
  line-height: 50px;
  margin-right: 25px;
  color: #4056A1;
}

.tweet-container article:hover {
  box-shadow: 5px 5px #4057a144;
}

.tweet-container footer span i.fa-solid:hover {
  color: #e7453f;
}

.tweet-container header img {
  display: inline-block;
  margin-top: 15px;
}

#error-block {
  display: none;
  border: 3px solid #e7453f;
  margin-bottom: 50px;
  width: 100%;
  height: 80px;
  display: relative;
}

#error-block i {
  display: inline-block;
}

#tri1, #tri2 {
  position: absolute;
  line-height: 75px;
  color: #e7453f;
  animation-delay: 0s;
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

#tri1 {
  left: 10%;
}

#tri2 {
  right: 10%;
}

#error-block h4 {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 22px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media all and (min-width: 1024px) {
  #tri1 {
    left: 50%;
  }
  #error-block h4 {
    font-size: 18px;
  }
}